<mat-toolbar color="primary">
  <span>
    <a routerLink="/">MyPosts</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">Add New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button (click)="onShowUserInfo()">{{loggedInUserEmail}}</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button (click)="onLogout()">Logout</a>
    </li>
  </ul>
</mat-toolbar>
